@page "/greeter"
@rendermode InteractiveServer


<FluentStack Orientation="Orientation.Vertical">
    <FluentTextField Name="User" @bind-Value="User" Label="Who are we greeting?"/>
    <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent" OnClick="OnSayHello">Submit</FluentButton>
</FluentStack>

<FluentDialog @bind-Hidden="IsHidden" Modal="true" @onclick=OnClose>
    <p>@Greeting</p>
</FluentDialog>

@code {
    private string? User { get; set; }
    private string? Greeting { get; set; }
    private bool IsHidden { get; set; } = true;

    private void OnSayHello(){
        Greeting = $"Hello, {User ?? "brutus"}";
        IsHidden = false;
    }

    private void OnClose(){
        IsHidden = true;
    }
}
